*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);

  --fs-895: 0.895rem;
  --fs-125: 1.25rem;
  --fs-200: 2rem;
  --fs-250: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  font-family: 'League Spartan', sans-serif;
}

.fs-125 {
  font-size: var(--fs-125);
}

.fs-895 {
  font-size: var(--fs-895);
}

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

.flex {
  display: flex;
}

.flex-rev {
  display: flex;
  flex-direction: column;
}